BODY {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1em;
	background-color:#F6F9FC;
	color: black; 
	margin:0;
}
.site {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	background-color: #F6F9FC;
	color: black;
}
.header {
	width: 100%;
	height: 60px;
	display: inline-block;
	position: relative;
	top:0;
	left:0;
	background-color: #333;
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #0088CC;
	color: white;
}
.header #logo {
	display: inline;
	margin: 0;
	padding: 0;
	float: left;
}
.header #logo a {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.header #logo a:visited {
	text-decoration: none;
}
.header #logo a:hover {
	text-decoration: none;
}
.header #logo a img {
	display: inline-block;
	margin: 0;
	margin-top: 0px;
	margin-left: 10px;
	padding: 0;
	position: relative;
	top: 8px;
	left: 0;
}
.header #logo p {
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	color: white;
	margin: 0;
	padding: 0;
}
.header #menu {
	display: inline;
	margin: 0;
	padding: 0;
	float: right;
	font-size: 1em;
}
.header #menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: 30px;
}
.header #menu ul li {
	display: inline;
	margin: 0px;
	margin-right: 20px;
	margin-top: 20px;
	padding: 0;
	float: left;
}
.header #menu ul li a {
	text-decoration: none;
	color: white;
}
.header #menu ul li a:visited {
	text-decoration: none;
}
.header #menu ul li a:hover {
	text-decoration: underline;
	color: #1793D1;
}
#menu #myselect a {
	text-decoration: none;
	color: #1793D1;
}
#menu #myselect a:visited {
	text-decoration: none;
}
#menu #myselect a:hover {
	text-decoration: underline;
	color: white;
}
.content {
	margin: 10px 20px 10px 20px;
	padding: 10px;
	background-color: #ECF2F5;
	color: black;
	display: block;
	position: relative;
	border: 1px solid black;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	
	background: linear-gradient(45deg, #A9AFC8, #ECF2F5);
	background: -moz-linear-gradient(45deg,#A9AFC8, #ECF2F5);
	background: -webkit-linear-gradient(45deg, #A9AFC8, #ECF2F5);
	background: -o-linear-gradient(45deg, #A9AFC8, #ECF2F5);
	background: -ms-linear-gradient(45deg, #A9AFC8, #ECF2F5);
}
.content p {
	text-indent: 25px;
}
.content p.codes {
	text-indent: 0px;
	display: block;
	position: relative;
	margin: 10px 10px 10px 25px;
	padding: 10px;
	background-color: #ccdfe8;
	border:  1px solid black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
.content .codeses {
	display: block;
	position: relative;
	margin: 10px 10px 10px 25px;
	padding: 5px 10px 5px 10px;
	background-color: #ccdfe8;
	border:  1px solid black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
.content p.pbold {
	font-weight: bold;
}
.images {
	display: inline-block;
	position: relative;
	margin: 0px; 
	padding: 0px;
}
.images img {
	display: inline-block;
	position: relative;
	margin: 0px 0px 0px 25px;
	padding: 0px;
	mix-blend-mode: multiply;
	border:  1px solid black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
.about {
	margin: 10px 20px 10px 20px;
	padding: 0px;
	padding-left: 10px;
	background-color: #c9c6c6;
	color: black;
	border: 1px solid gray;
	display: block;
	position: relative;
	font-size: 0.8em;
	border: 1px solid black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.imgex {
	display: inline-block;
	position: relative;
	margin: 0px;
	padding: 0px;
}
.imgex img {
	display: inline-block;
	position: relative;
	margin: 0px;
	padding: 0px;
	margin-left: 10%;
}
.hr_main {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;
}
.hr_chapter {
	margin: 20px 0;
	padding: 0;
	height: 1px;
	border: none;
	background: linear-gradient(45deg, #ddd, #333);
	background: -moz-linear-gradient(45deg, #ddd, #333);
	background: -webkit-linear-gradient(45deg, #ddd, #333);
	background: -o-linear-gradient(45deg, #ddd, #333);
	background: -ms-linear-gradient(45deg, #ddd, #333);
}
.content p.selections {
	text-indent: 0px;
	display: block;
	position: relative;
	margin: 10px 10px 10px 25px;
	padding: 10px;
	border-left: 5px solid #548eaa;
	background-color: #ccdfe8;
	text-indent: 0px;
}
.content p.selections::before {
	content: "#";
}
.content p.selections:hover {
	cursor: pointer;
	text-decoration: underline;
}
.content p.selections:hover::after {
	content: " ❑ ❒";
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#page {
  width: 70%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border:  1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
